.button {
  background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
  border: 0;
  border-radius: 3rem;
  box-shadow: 0 0 6px var(--color-footer);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: var(--color-light);
  transition: all 0.2s;
}

.button:hover {
  transform: scale(1.05);
}
