.teddyItem {
  background: var(--color-background);
  border-radius: 10px;
  box-shadow: 0 0 6px var(--color-footer);
  padding: 0;
  margin: 1rem;
  width: 100%;
  display: flex;
}

.teddyImg {
  object-fit: cover;
  width: var(--size-md);
  height: var(--size-xl);
  border-radius: 8px 0 0 8px;
}

.teddyDetail {
  padding: 1rem;
  width: 100%;
}

.teddyId {
  margin: 0 0 1rem 0;
  font-size: 0.85rem;
  text-align: right;
}

.teddyName {
  font-family: var(--font-title);
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.teddyPrice {
  font-size: 1.2rem;
  text-align: center;
}

.teddyDesc {
  margin: 1rem 0;
}

.teddyOptions {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.teddyColor {
  margin: 1rem 1rem 0 1rem;
  font-size: 0.85rem;
}

.teddyColor__bullet {
  background-color: transparent;
  width: var(--size-xs);
  height: var(--size-xs);
  border-radius: var(--size-xs);
  border: 1px solid var(--color-footer);
}

.teddyQuantity {
  margin: 1rem 1rem 0 1rem;
  font-size: 0.85rem;
}
