main {
  max-width: 1440px;
  margin: auto;
  min-height: calc(100vh - 3rem - 2rem - var(--header-height) - var(--footer-height));
}

#products,
#product-detail,
#cart,
#order-confirm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
}

#products {
  align-content: stretch;
}
