/* affichage d'un produit */

/* bloc extérieur */
.teddyItem {
  background: var(--color-background);
  border-radius: 10px;
  box-shadow: 0 0 6px var(--color-footer);
  padding: 0;
  margin: 1rem;
  width: 100%;
  display: flex;
}

.teddyImg {
  object-fit: cover;
  width: var(--size-md);
  height: var(--size-xl);
  border-radius: 8px 0 0 8px;
}

/* bloc intérieur ensemble de la description du produit */
.teddyDetail {
  padding: 1rem;
  width: 100%;
}

.teddyId {
  margin: 0 0 1rem 0;
  font-size: 0.85rem;
  text-align: right;
}

.teddyName {
  font-family: var(--font-title);
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.teddyPrice {
  font-size: 1.2rem;
  text-align: center;
}

/* paragraphe descriptif */
.teddyDesc {
  margin: 1rem 0;
}

/* paragraphe options à choisir */
.teddyOptions {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* choix des couleurs */
.teddyColor {
  margin: 1rem 1rem 0 1rem;
}

#teddyColor {
  display: flex;
}

/* design global des pastilles de couleur */
.teddyColor__bullet {
  background-color: transparent;
  width: var(--size-xs);
  height: var(--size-xs);
  border-radius: var(--size-xs);
  border: 2px solid var(--color-footer);
  box-shadow: 0 0 3px var(--color-footer);
  margin: 0.3rem;
  opacity: 0.5;
  transition: all 0.2s;
}

.teddyColor__bullet:hover,
.teddyColor__bullet:focus,
.teddyColor__bullet:focus-visible {
  opacity: 1;
}

/* coloris des pastilles */
.teddyColor__bullet-tan {
  background-color: var(--teddy-tan);
}
.teddyColor__bullet-chocolate {
  background-color: var(--teddy-chocolate);
}
.teddyColor__bullet-black {
  background-color: var(--teddy-black);
}
.teddyColor__bullet-white {
  background-color: var(--teddy-white);
}
.teddyColor__bullet-palebrown {
  background-color: var(--teddy-palebrown);
}
.teddyColor__bullet-darkbrown {
  background-color: var(--teddy-darkbrown);
}
.teddyColor__bullet-brown {
  background-color: var(--teddy-brown);
}
.teddyColor__bullet-blue {
  background-color: var(--teddy-blue);
}
.teddyColor__bullet-pink {
  background-color: var(--teddy-pink);
}
.teddyColor__bullet-beige {
  background-color: var(--teddy-beige);
}

/* choix des options */
.teddyQuantity {
  margin: 1rem 1rem 0 1rem;
}

/* bouton sélecteur quantité */
#teddyQuantity {
  display: flex;
  margin: 0.3rem;
  width: 7rem;
  height: var(--size-xs);
  border-radius: var(--size-xs);
  border: 2px solid var(--color-footer);
  box-shadow: 0 0 3px var(--color-footer);
  opacity: 0.75;
  transition: all 0.2s;
}

#teddyQuantity:target,
#teddyQuantity:focus-visible,
#teddyQuantity:focus-within,
#teddyQuantity:focus,
#teddyQuantity:active,
#teddyQuantity:visited {
  outline: transparent; /* suppression du contour au focus */
  opacity: 1;
}
