/* afichage du footer */

footer {
  max-width: 1440px;
  margin: auto;
  text-align: center;
  background: var(--color-footer);
  height: var(--footer-height);
}

.footer-logo {
  width: 320px;
  height: 110px;
}

.footer__list {
  display: flex;
  justify-content: space-around;
}

/* bloc du milieu du footer A propos */
.footer__list__center {
  display: flex;
  flex-direction: column;
}

/* espacement des liens A propos */
.footer__list__center > .footer__list__link:nth-child(2),
.footer__list__center > .footer__list__link:nth-child(4) {
  margin: 0.8rem 0;
}

.footer__list__link {
  display: flex;
  align-items: center;
}

/* icons liens vers les autres univers Orinoco */
.icons {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  opacity: 0.75;
  transition: all 0.2s;
}

.footer__list__link:hover > .icons {
  opacity: 1;
}

/* icons réseaux sociaux */
.social {
  color: transparent;
  font-size: 2.25rem;
  margin: 0.5rem;
  background: var(--color-gradient);
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0.75;
  transition: all 0.2s;
}

.social:hover {
  opacity: 1;
}
