#order-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.blocForm {
  background: var(--color-background);
  border-radius: 10px;
  box-shadow: 0 0 6px var(--color-footer);
  padding: 1rem;
  margin: 1rem;
  position: relative;
}

.blocForm__title {
  width: 100%;
  text-align: center;
}

.blocForm__input {
  width: calc(100% - 2 * 0.2rem);
}

label.blocForm__input {
  padding: 0 0.75rem;
}

input.blocForm__input {
  margin: 0 0 1rem 0;
  border: 1px solid var(--color-footer);
  border-radius: 1rem;
  padding: 0.5rem 0.2rem;
}

input.blocForm__input:not(:placeholder-shown):invalid {
  border: 1px solid var(--color-invalid);
  box-shadow: 0 0 6px var(--color-invalid);
}

input.blocForm__input::placeholder {
  color: var(--color-footer);
  font-weight: bold;
  text-align: center;
}

.checkTrue {
  color: #0a0;
  font-size: 2em;
  position: absolute;
  right: 1.5rem;
  z-index: 500;
}

.checkFalse {
  color: crimson;
  font-size: 2em;
  position: absolute;
  right: 1.5rem;
  z-index: 500;
}

.visually-hidden {
  display: none;
}
