header {
  max-width: 1440px;
  margin: auto;
  background: var(--color-background);
  font-family: var(--font-title);
  font-size: 4rem;
  height: var(--header-height);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-logo {
  width: 100px;
  margin: 2rem;
}

.header-nav {
  max-width: 1440px;
  height: 3rem;
  margin: auto;
  background-color: var(--color-footer);
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__icon {
  font-size: 2rem;
  padding: 0 1rem;
}
