/* affichage du bloc principal */

main {
  max-width: 1440px;
  margin: auto;
  min-height: calc(
    100vh - 3rem - var(--header-height) - var(--footer-height)
  ); /* taille adaptée pour repousser le footer en bas de page */
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* ajustement des marges des blocs modifiables en JS */
#products,
#product-detail,
#cart,
#order-confirm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  position: relative;
}

/* ajustement des blocs cartes sur une même hauteur */
#products {
  align-content: stretch;
}
