/* importation police titre */

@font-face {
  font-family: "Belligerent";
  src: url("../public/fonts/belligerent.ttf") format("truetype");
  font-display: swap;
}

/* variables */
:root {
  /* couleurs */
  --color-background: #f3e9f1;
  --color-footer: #e0e0e0;
  --color-text: #333;
  --color-light: #fff;
  --color-primary: #e7901a;
  --color-secondary: #8f5bfe;
  --color-invalid: crimson;
  --color-gradient: linear-gradient(135deg, var(--color-primary) 0, var(--color-secondary) 1);

  /* polices */
  --font-title: "Belligerent";
  --font-text: "Trebuchet MS";
  --font-size: 16px;

  /* tailles blocs */
  --header-height: 10rem;
  --footer-height: 16rem;
  --size-xs: 2rem;
  --size-sm: 200px;
  --size-md: 360px;
  --size-xl: 600px;

  /* couleurs des produits */
  --teddy-tan: #d2b48c;
  --teddy-chocolate: #3d1f0a;
  --teddy-black: #000000;
  --teddy-white: #ffffff;
  --teddy-palebrown: #794b2a;
  --teddy-darkbrown: #241002;
  --teddy-brown: #522b2b;
  --teddy-blue: #66a8ff;
  --teddy-pink: #f7a0f0;
  --teddy-beige: beige;
}

/* base du body */
body {
  font-size: var(--font-size);
  font-family: var(--font-text);
  color: var(--color-text);
}

/* design des liens */
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover,
a:active {
  color: var(--color-primary);
}

/* design de base des sous-titres */
h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 2rem 0 1rem 0;
  width: 100%;
}
