/* affichage du panier */

.cart-head {
  background: var(--color-background);
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0 0 0.5rem var(--color-footer);
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cart-head__label:first-child {
  width: 25%;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
}

.cart-head__label:nth-child(n + 2) {
  width: 15%;
}

.cart-head__label:nth-child(1n) {
  padding: 1rem 0;
  font-weight: bold;
  text-align: center;
}

.cart-head__label:last-child,
.cart-head__label:nth-child(4) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-list {
  background: var(--color-footer);
  box-shadow: 0 0 0.5rem var(--color-footer);
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-list:last-of-type {
  border-radius: 0 0 1rem 1rem;
}

.cart-list__info:first-child {
  text-align: center;
  padding: 1rem;
  width: 25%;
}

.cart-list__info:nth-child(n + 2) {
  text-align: center;
  padding: 1rem;
  width: 15%;
}

.cart-list__info:nth-child(5) {
  font-weight: bold;
}

.total-line {
  width: 100%;
  text-align: right;
  margin: 1rem;
}

.total-line__number {
  background: var(--color-gradient);
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.25rem;
}
