/* header */

header {
  max-width: 1440px;
  margin: auto;
  background: var(--color-background);
  font-family: var(--font-title);
  font-size: 4rem;
  height: var(--header-height);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-logo {
  width: var(--img-xs);
  height: var(--img-xs);
  margin: 2rem;
}

/* barre de navigation */

.header-nav {
  max-width: 1440px;
  height: 3rem;
  margin: auto;
  background-color: var(--color-footer);
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__icon {
  font-size: 2rem;
  padding: 0 1rem;
}

.cart-logo {
  position: relative;
}

.cart-logo__number {
  background: var(--color-gradient);
  color: var(--color-light);
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  position: absolute;
  top: 0.9rem;
  right: 0.2rem;
}
