/* affichage pour écran de téléphone portable */

@media all and (max-width: 425px) {
  header {
    font-size: 3rem;
    height: auto;
  }

  .header-logo {
    margin: 0;
  }

  main {
    min-height: 50vh;
  }

  .product-detail,
  .products,
  .cart,
  .order-confirm {
    margin: 0.5rem;
  }

  .teddy-item {
    flex-direction: column;
    margin: 1rem 0;
    width: var(--size-md);
  }

  .product-detail {
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
  }

  .teddy-item__img {
    width: inherit;
    height: var(--size-sm);
    border-radius: 8px 8px 0 0;
  }

  .teddy-item__detail {
    width: auto;
  }
  .teddy-item__color__list {
    flex-wrap: wrap;
  }

  .popup-bloc {
    width: calc(100vw);
    left: 0;
    padding: 0;
    top: 50%;
  }
  .cart {
    font-size: 0.75rem;
  }

  .cart-head__label:first-child {
    min-width: 40%;
  }

  .cart-head__label:nth-child(2) {
    display: none;
  }
  .cart-head__label:nth-child(4) {
    width: 1rem;
  }

  .cart-list__info:nth-child(n + 1) {
    padding: 1rem 0rem;
  }

  .cart-list__info:nth-child(4) {
    display: flex;
    flex-direction: column-reverse;
    width: 1rem;
    align-items: center;
  }

  .cart-head__label:last-child,
  .cart-list__info:last-child {
    width: 2rem;
  }

  .order-form {
    width: 100%;
  }

  footer {
    height: auto;
  }

  .footer-list {
    flex-direction: column;
  }

  .footer-list__link {
    justify-content: center;
    align-self: center;
  }

  .footer-list__center {
    margin: 1.5rem 0;
  }
}

/* affichage pour tout petit portable 280px (galaxy fold) 320px (iphone5) */

@media all and (max-width: 280px) {
  .cart-head__label:first-child {
    min-width: 30%;
  }
}
@media all and (max-width: 320px) {
  .teddy-item {
    width: 100vw;
  }

  .cart-list__info:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cart-list__info:nth-child(n + 1) {
    padding: 0 1rem 0 0;
  }

  .cart-list__info:last-child {
    padding: 0;
    width: 1.5rem;
  }

  .footer-logo {
    max-width: 100vw;
  }
}

/* affichage écran tablette et petits écrans style laptop */

@media all and (min-width: 426px) and (max-width: 1024px) {
  main {
    min-height: 50vh;
  }

  .product-detail,
  .products,
  .cart,
  .order-confirm {
    margin: 0.5rem;
  }

  .cart-list:nth-child(3) {
    white-space: nowrap;
  }

  .order-form {
    width: 100%;
  }
}

/* affichage écran tablette et petits écrans style laptop */

@media all and (min-width: 426px) and (max-width: 768px) {
  .teddy-item__img {
    width: var(--size-md);
  }
}

/* affichage pour tout grand portable/phonelet/petite tablette (surface duo) */

@media all and (min-width: 425px) and (max-width: 560px) {
  .product-detail {
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
  }

  .teddy-item {
    flex-direction: column;
    margin: 1rem 0;
    width: 100vw;
  }

  .teddy-item__img {
    width: 100vw;
    border-radius: 8px 8px 0 0;
  }
  .teddy-item__detail {
    width: auto;
  }

  .cart-list__info:nth-child(4) {
    white-space: nowrap;
    padding: 0;
  }

  footer {
    height: auto;
  }
  .footer-list {
    flex-wrap: wrap;
  }
  .footer-list h2:first-of-type {
    width: 100%;
  }
  .footer-list li:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2rem;
  }
  .footer-list__link {
    justify-content: center;
    align-self: center;
  }
}
