/* affichage d'un produit */

.teddy-item {
  background: var(--color-background);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem var(--color-footer);
  padding: 0;
  margin: 1rem;
  width: 100%;
  display: flex;
}

.teddy-item__img {
  object-fit: cover;
  width: var(--size-xl);
  height: var(--size-xxl);
  border-radius: 0.5rem 0 0 0.5rem;
}

.teddy-item__detail {
  padding: 1rem;
  width: 100%;
}

.teddy-item__id {
  margin: 0 0 1rem 0;
  font-size: 0.85rem;
  text-align: right;
}

.teddy-item__name {
  font-family: var(--font-title);
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.teddy-item__price {
  font-size: 1.2rem;
  text-align: center;
  font-weight: normal;
}

.teddy-item__description {
  margin: 1rem 0;
}

.teddy-item__options {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.teddy-item__color {
  margin: 1rem 1rem 0 1rem;
}

.teddy-item__color__list {
  display: flex;
}

/* pastilles de couleur */

.teddy-item__color__list__bullet {
  background-color: transparent;
  width: var(--size-xs);
  height: var(--size-xs);
  border-radius: var(--size-xs);
  border: var(--border-neutral);
  box-shadow: 0 0 0.25rem var(--color-footer);
  margin: 0.3rem;
  opacity: 0.5;
  transition: all 0.2s;
}

.teddy-item__color__list__bullet--active,
.teddy-item__color__list__bullet:active,
.teddy-item__color__list__bullet:hover,
.teddy-item__color__list__bullet:focus,
.teddy-item__color__list__bullet:focus-visible {
  border: var(--border-active);
  opacity: 1;
}

.teddy-item__color__list__bullet--tan {
  background-color: var(--teddy-tan);
}
.teddy-item__color__list__bullet--chocolate {
  background-color: var(--teddy-chocolate);
}
.teddy-item__color__list__bullet--black {
  background-color: var(--teddy-black);
}
.teddy-item__color__list__bullet--white {
  background-color: var(--teddy-white);
}
.teddy-item__color__list__bullet--palebrown {
  background-color: var(--teddy-palebrown);
}
.teddy-item__color__list__bullet--darkbrown {
  background-color: var(--teddy-darkbrown);
}
.teddy-item__color__list__bullet--brown {
  background-color: var(--teddy-brown);
}
.teddy-item__color__list__bullet--blue {
  background-color: var(--teddy-blue);
}
.teddy-item__color__list__bullet--pink {
  background-color: var(--teddy-pink);
}
.teddy-item__color__list__bullet--beige {
  background-color: var(--teddy-beige);
}

.visually-hidden {
  opacity: 0;
  position: relative;
  left: -2.7rem;
  top: 0.1rem;
  width: var(--size-xs);
  height: var(--size-xs);
  margin: 0.3rem;
}

/* sélecteur quantité */

.teddy-item__quantity {
  margin: 1rem 1rem 0 1rem;
}

.teddy-item__quantity__selector {
  display: flex;
  margin: 0.3rem;
  width: 7rem;
  height: var(--size-xs);
  border-radius: var(--size-xs);
  border: var(--border-neutral);
  background: var(--color-light);
  box-shadow: 0 0 0.25rem var(--color-footer);
  opacity: 0.75;
  transition: all 0.2s;
}

.teddy-item__quantity__selector:target,
.teddy-item__quantity__selector:focus-visible,
.teddy-item__quantity__selector:focus-within,
.teddy-item__quantity__selector:focus,
.teddy-item__quantity__selector:active,
.teddy-item__quantity__selector:visited {
  opacity: 1;
}

/* message d'erreur */

.error-hidden {
  opacity: 0;
  width: 100%;
}

.error-visible {
  color: var(--color-invalid);
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
}
